<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="../static/css/main.css">
    <!-- endbuild -->
</head>
<body>
    <div class="loading-screen" id="imgId">
        <header class="logo-container">
            <img src="../static/logo.png" alt="Logo">
        </header>

        <img class="rules-a" src="../static/crazyrules.jpg">

        <div class="loading-bar">
            <div id="progressbar" class="progress-bar"></div>
            <span id="status" class="status">连接中...</span>
            <span id="percentage" class="percentage">0%</span>
        </div>
        <h3 class="pw">HTML server powered by TrimesS</h3>
        <h3 class="pw2">當前時間為:</h3><div id="time"></div>
		<script type="text/javascript">
			function time() {
				var vWeek, vWeek_s, vDay;
				vWeek = ["星期天", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六"];
				var date =  new Date();
				year = date.getFullYear();
				month = date.getMonth() + 1;
				day = date.getDate();
				hours = date.getHours();
				minutes = date.getMinutes();
				seconds = date.getSeconds();
				vWeek_s = date.getDay();
				document.getElementById("time").innerHTML = year + "年" + month + "月" + day + "日" + "\t" + hours + ":" + minutes + ":" + seconds + "\n" + vWeek[vWeek_s];

			};
			setInterval("time()", 1000);
		</script>
            
    </div>
    
    <!-- build:js scripts/main.js -->
    <script src="../static/js/main.js"></script>
    <!-- endbuild -->

    <!-- build:remove -->
    <script src="../static/js/contentloaded.js"></script>
    <!-- endbuild -->
</body>
<script>
   var images = ["../static/background01.jpg", "../static/background02.jpg", "../static/background03.jpg","../static/background04.jpg","../static/background05.jpg","../static/background07.jpg"];
        var currentIndex = 0;
        var delay = 6000;

        var timer = setInterval(function() {
            currentIndex++;
         if (currentIndex >5) {
                currentIndex = 0;
         }
        var imgurl = "url('" + images[currentIndex] + "')";
        var img = document.getElementById("imgId");
        
        img.style.background = imgurl;
        }, delay);
</script>
</html>
